.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.results {
  max-width: 50%;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #ecebeb;
  text-align: center;
}
.results:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.results h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.results a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */

.clear {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #9fe6a0;
  margin: 30px auto 30px auto;
}
.create input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  height: 120px;
}
.create button {
  background: #9fe6a0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* my css */
.container {
  display: flex;
}
